language: node_js
node_js:
- '12'
env:
  global:
  - MATTERMOST_CHANNEL=publication
  # REGISTRY_TOKEN(editor=cozy, app=ameli)
  - secure: fKee/eCi0hxQ/0YKX57Z86VsKuVV+uy2/tliPNfa6dnpoDm+searF5uB3jB0y6jDbQ20mDhkuXx+ovSIJBacVDzgzgtRVJFgXK7JAR+J6syXi9WpynbZDmyWHcs+gJ2uJAKPxGyZSaaZZO3CHz4UKARmgdYLv8veHHJZfuEtPHhhH9QlmM2Ss1/2p+FTQ/uUHlFv1i/yDi7iOba/he9diUt1RriqzHE0ohD+nVfq7QxdEZkP4U7JBmBdS0Vea4FW5xe4IRXpRRLigFzufqlEysHzU33eiXY+kg7cOtPgL9txvLH6ieqw3j3ZMYyYAq9uCFioqrBGXrcZ9Olz7QzbBjWBRJZkr4naSZMunxDdd0sw5ZEhC8znGup1wyPhVQ0/uM3H81SCzWM2XwByLBSum6gWSnLWN+LqR1wmxYGvN5W1UDtU03iG5EBYNZ9l3uOw08XjPCq+tBgpSewLnVf+2CJPuUNmfKa1UMqBPsskVdEd+/wgt0BIThjNZRImUZ7VUbN5NpoaX9wORXnkxvw/yW4qTiraR2wYHwNmURa1eRhtVleCv2UflCf4Gkms1ng4kSy+uYxYc0OU1mlb0D5JVFNni2E0NJY7b0K09BK59ZxR5g11FY4j1o8TyHW/EAbuEFvJ7kF+rMr/WuSZNd9jmffa71Zki9jnLvsrIb0CNJ4=
  # MATTERMOST_HOOK_URL
  - secure: Xn5wD8ak7kF89ddYeNmGit5v0mvg4ojNY1rtL0JjfoF/QrN76KBMX0zmIUZfWq4Boh+U8/b6u2+XJSXjco6VvmDH+Mk3GxkGyNAm4jof46AuooXeL1/UR1540Gmg1DWzBDoAHc8n/15Dw+rcESqvU9MhsVevq3IwEmG7okrzFEnCz462bfaAJMfgpgBT2prEp5PDXLeYvBRWctRdUViqRfOrXY+ICIzrHP1wgrBanylhENm7UHE/96s8zebG2dwuMH9+SSRQFAYHfpkZ6JFrnahEICD1qlMr4OseaOHMi7ROof3Ql0rDV3ebiz+ni1bSPXremb7XC3npYHEBOUa4m83jG/UBAgbkmUl0rsKJB4I9Zro/ek1FJTMn981MOvWXjJ0Wlh7+z887LOE2jf/cxpE8DHXsKFt1tos9QD5LBkP3J/13a0wuFDJDz0mY1PApHGycd34qpufkVs939iAS2LvhrWYLmeedc5+O5MNZ4XjrWzuTuj1cDwVbe3Q2Jf1+wJI7H9hKyuGGh5+Bk/fWe/AwdNjv+6y5MJFANkSNLMCuxoP+lsmM9q8PeZAgAcSq8CRQJM3qJj9xD4nAZb/ubyXly1zJpfpJLeiOwez60cmEGx3xPbIhQso4fhXaCa5RTHBDDrDWOCrm4wVYXZNaPnkDGh9ywTq1dJ4GznuxM4o=
cache:
  yarn: true
  directories:
  - node_modules
branches:
  except:
  - build
  - build-debug
script:
- yarn lint
- yarn build
deploy:
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish
  on:
    branch: master
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish --postpublish mattermost
  on:
    tags: true
before_install:
- openssl aes-256-cbc -K $encrypted_5e5225ed2e56_key -iv $encrypted_5e5225ed2e56_iv
  -in github_deploy_key.enc -out /tmp/github_deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/github_deploy_key
- ssh-add /tmp/github_deploy_key
after_deploy:
- rm /tmp/github_deploy_key
- ssh-add -D
